#subheading{
	margin-bottom:1.5rem;
}

#uploadButton{
	margin-top:1rem;
}

#searchButton{
	margin-top:1rem;
}

#texthelper{
    margin-top:1rem!important;
}

#uploadButton{
    margin-top:1rem!important;
}