#subheading{
	margin-bottom:1.5rem;
}

#uploadButton{
	margin-top:1rem;
}

#searchButton{
	margin-top:1rem;
}

#texthelper{
    margin-top:1rem!important;
}

#uploadButton{
    margin-top:1rem!important;
}

.loader{
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%) scale(1.2);
	color: blue;
	position:absolute;
}

.stamp {
	top: 68%;
	left:22%;
	width:200px;
	transform: rotate(0deg) scale(0.3) translate(-50%,0);
	  color: #555;
	  font-size: 3rem;
	  font-weight: 700;
	  border: 0.25rem solid #555;
	  display: inline-block;
	  text-transform: uppercase;
	  border-radius: 1rem;
	  font-family: 'Courier';
	  -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
	-webkit-mask-size: 944px 604px;
	mix-blend-mode: multiply;
	position:absolute;
  }
  
  .bad {
	color: #D23;
	border: 0.5rem double #D23;
	  -webkit-mask-position: 2rem 3rem;
  }
  
  .good {
	  color: #0A9928;
	  border: 0.5rem solid #0A9928;
	  -webkit-mask-position: 13rem 6rem;
	border-radius: 0;

  } 

  .gridTile{
	  overflow: visible !important;
	  margin-bottom: 0px !important;
  }
  .image{
	  left: 50%;
	  top:50%;
	  transform: translate(-50%, -63%) !important;
  }